html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Bold"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }


  @font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Medium"),
      url("../fonts/Montserrat-Medium.woff2") format("woff2"),
      url("../fonts/Montserrat-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Semibold"),
      url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
      url("../fonts/Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Montserrat";
    src: local("Montserrat-ExtraBold"),
      url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
      url("../fonts/Montserrat-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --color-white: #fff;
    --color-grey: #cacaca;
    --color-dark-grey: #666666;
    --color-black: #000;
    --main-color: #ff9900;
    --main-color-focus: #ffb84d;
    --main-color-hover: #ffb84d;
    --main-color-active: #e1670e;
  }
  
  body {
    min-width: 1920px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
  
  /*! global */
  .list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .flex {
    display: flex;
  }
  
  .container {
    width: 1800px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .main {
    margin-bottom: 100px;
  }

  /*! HEADER */
  .header {
    margin-bottom:50px;
}

.header__container {
  border-bottom: 1px solid var(--color-white);
  border-radius: 0px 0px 32px 32px;
  height: 100px;
  background: var(--color-white);
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);  
}

.header__container {
  align-items: center;
}

.header__logo {
  margin: 0;
  padding: 0;
  margin-left: 75px;
  margin-right: auto;
  box-sizing: border-box;
  max-width: 225px;
  height: 72px;
}

.nav {
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
}

.nav__list {
  gap: 85px;
  padding: 0;
  margin: 0;
  margin-right: 85px;
}

.nav__link {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--color-black);
  border: none;
  border-color: transparent;
  outline: 2px solid transparent;
  outline-offset: 5px;
  transition: color 0.3s ease-in-out, outline-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.nav__link:focus {
  outline-color: var(--main-color-focus);
  color: var(--color-black);
}

.nav__link:hover {
  border-bottom: 2px solid var(--main-color-hover);
  color: var(--color-black);
}

.nav__link:active {
  border-bottom: 2px solid var(--main-color-active);
  outline-color: transparent;
  color: var(--main-color-active);
}



.header__search {
  margin-right: 75px;
  width: 24px;
  height: 24px;
  border: none;
  border-color: transparent;
  outline: 2px solid transparent;
  outline-offset: 5px;
  transition: color 0.3s ease-in-out, outline-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.header__search:focus {
  outline-color: var(--main-color-focus);
}

.header__search:focus svg  rect{
  fill: var(--color-black);
}

.header__search:focus svg path {
  stroke: var(--color-black);
}

.header__search:hover svg  rect{
  fill: var(--main-color-hover);
}

.header__search:hover svg path {
  stroke: var(--main-color-hover);
}

.header__search:active svg  rect{
  fill: var(--color-black);
}

.header__search:active svg path {
  stroke: var(--color-black);
}




/*! SLIDER  */

.slider {
  margin: 0 auto;
  padding: 0;
  margin-bottom: 51px;
  background-image: url("..//img/bgslider.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1770px;
  height: 620px;
}

.slider__title {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  padding-top: 100px;
  padding-left: 65px;
  padding-right: 853px;
  margin-bottom: 22px;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: var(--color-white);
}

.slider__text {
  padding: 0;
  margin: 0;
  margin-bottom: 115px;
  padding-left: 65px;
  padding-right: 900px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-white);
}
/* TODO: переделать на баттон */
.slider__button {
  padding: 25px 39px;
  margin-left: 65px;
  border-radius: 16px;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--color-white);
  transition: background-color 0.3s ease-in-out;  
}


.slider__button:focus {
  outline: none;
  background-color: var(--main-color-focus);
}

.slider__button:hover {
  background-color: var(--main-color-hover);
}

.slider__button:active {
  outline: none;
  background-color: var(--main-color-active);
}

/*! ABOUT-US */
.about-us {
  margin-bottom: 100px;
}

.about-us__title {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--color-black);
}

.about-us__article {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  max-width: 1235px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-black);
}

.about-us__cards {
  justify-content: flex-start;
  gap: 32px;
}

.about-us__left-card {
  align-items: flex-end;
  border-radius: 20px;
  background-image: url("../img/manwork.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: calc((100% - 32px) / 2);
  height: 622px;
}

.about-us__left-group {
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.50);
  height: 196px;  
}

.about-us__descr {
  padding: 0;
  margin: 0;
  padding-left: 50px;
  padding-top: 50px;
  padding-right: 110px;
  padding-bottom: 50px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 200% */
  color: var(--color-white);
}

.about-us__button {
  margin-right: 50px;  
  padding: 19px 38px;
  border-radius: 16px;
  border: 3px solid var(--main-color);
  background-color: transparent;
  color: var(--color-white);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;  
}

.about-us__button:focus {
  outline: none;
  border-color: transparent;
  background-color: var(--main-color);
}

.about-us__button:hover {
  border-color: transparent;
  background-color: var(--main-color);
}

.about-us__button:active {
  border-color: transparent;
  background-color: var(--main-color-active);
}

.about-us__right-card {
  flex-direction: column;
  gap: 32px;
  width: calc((100% - 32px) / 2);
}

.about-us__groupe {
  flex-direction: column;
  max-width: 620px;
}

.about-us__image {
  padding-left: 59px;
  padding-top: 64px;
  padding-bottom: 64px;
  flex-shrink: 0;
  /* max-width: 248px; */
  max-width: 100%;
}

.about-us__svg-img {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

.about-us__card-item {
  gap: 50px;
  border: 1px solid var(--color-grey);
  border-radius: 30px;
}

.about-us__subtitle {
  padding: 0;
  margin: 0;
  padding-top: 63px;
  margin-bottom: 8px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-black);
}

.about-us__text {
  padding: 0;
  margin: 0;
  padding-right: 120px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-black);
}


/*! STAGES */
.stages {
  margin-bottom: 15px;
}

.stages__title {
  padding: 0;
  margin: 0;
  margin-bottom: 33px;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--color-black);
}

.stages__left-group {
  flex-direction: column;
  max-width: calc((100% - 10px) / 2);
}

.stages__subtitle {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  color: var(--color-black);
}

.stages__descr {
  padding: 0;
  margin: 0;
  padding-right: 120px;
  margin-bottom: 18px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-black);
}

.stages__buttons-group {
  gap: 32px;
  margin-bottom: 85px;
}

.stages__btn {
  padding: 19px 38px;
  border-radius: 16px;
  border: none;
  background-image: none; 
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: var(--main-color);
  color: var(--color-white);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;    
}

.stages__btn:focus {
  outline: none;
  background-color: var(--main-color-focus);
}

.stages__btn:hover {
  background-color: var(--main-color-hover);
}

.stages__btn:active {
  outline: none;
  background-color: var(--main-color-active);
}

.btn-no-background {
  padding: 19px 37px;
  border-radius: 16px;
  border: 1px solid var(--color-black);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  color: var(--color-black);
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;     
}

.btn-no-background:focus {
  border-color:transparent;
  outline: none;
  color: var(--color-white);
  background-color: var(--color-dark-grey);
}

.btn-no-background:hover {
  border-color:transparent;
  outline: none;
  color: var(--color-white);
  background-color: var(--color-dark-grey);
}

.btn-no-background:active {
  border-color:transparent;
  outline: none;
  color: var(--color-white);
  background-color: var(--color-black);
}

.stages__right-group{
  background-position: right 10px;
  border-radius: 20px;
  background-image: url("../img/stages.jpg");
  background-repeat: no-repeat;
  background-size: 870px 460px;
  min-width: 895px;
}

/*! questions */

.question_title {
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--color-black);
}

.question__list {
  justify-content: space-around;
  gap: 30px;
  
}

.question__item {
  flex-direction: column;
  padding: 65px 65px 65px 60px;
  border-radius: 32px;
  border: 1px solid var(--color-grey);
  max-width: 569px;
  background: var(--color-white);
}

.question__subtitle {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-black);
}

.question__descr {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-black);
}

/*!footer */

.footer {
  background: var(--color-black);
  height: 594px;
}

.footer__group {
  padding-top: 48px;
  justify-content: space-between;
}

.footer__logo {
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  display: inline-block;
}

.footer__left-group {
  flex-direction: column;
  margin-right: auto;
}

.footer-nav__list {
  flex-direction: column;
  margin-bottom: 90px;
}

.footer-nav__link {
  padding: 0;
  margin: 0;
  border: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  color: var(--color-grey);
  border-color: transparent;
  outline: 2px solid transparent;
  outline-offset: 5px;
  transition: color 0.3s ease-in-out, outline-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.footer-nav__link:focus {
  outline-color: var(--main-color-focus);
  color: var(--color-grey);
}

.footer-nav__link:hover {
  color: var(--main-color-hover);
}

.footer-nav__link:active {
  outline-color: transparent;
  color: var(--main-color-active);
}

.footer__social-links {
  gap: 25px;
}

.footer__social-link-ok {
  color: var(--color-grey);
  transition: color 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.footer__img {
  transition: color 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.footer__social-link-ok:focus {
  outline: none;
  color: var(--color-grey);
}

.footer__social-link-ok svg path {
  transition: color 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.footer__social-link-ok:hover svg path {
  fill: var(--main-color-hover);
}

.footer__social-link-ok:active svg path {
  fill: var(--main-color-active);
}

.footer__social-link-vk {
  color: var(--color-grey);
  transition: color 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.footer__social-link-vk:focus {
  outline: none;
  color: var(--color-grey);
}

.footer__social-link-vk svg path {
  transition: color 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.footer__social-link-vk:hover svg path {
  fill: var(--main-color-hover);
}

.footer__social-link-vk:active svg path {
  fill: var(--main-color-active);
}

.footer__midle-group {
  flex-direction: column;
  margin-right: 190px;
}

.midle-group__title {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--color-grey);
}

.midle-group_form {
  flex-direction: column;
}

.form__label {
  flex-direction: column;
  gap: 25px;
}

.form__input {
  margin: 0;
  padding: 0;
  padding-left: 25px;
  border: none;
  border-radius: 15px;
  max-width: 570px;
  height: 60px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  background-color: #414141;
  color: var(--color-grey);
  transition: background-color 0.3s ease-in-out;
}

.form__input:focus {
  outline: none;
  background-color: var(--color-dark-grey);
}

.form__input:hover {
  outline: none;
  background-color: var(--color-dark-grey);
}

.form__input:active {
  outline: none;
  background-color: var(--color-dark-grey);
}

.form__text-area {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  padding-left: 25px;
  padding-top: 15px;
  border: none;
  border-radius: 15px;
  max-width: 570px;
  height: 150px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-grey);
  background-color: #414141;
  transition: background-color 0.3s ease-in-out;
}

.form__text-area:focus {
  outline: none;
  background-color: var(--color-dark-grey);
}

.form__text-area:hover {
  outline: none;
  background-color: var(--color-dark-grey);
}

.form__text-area:active {
  outline: none;
  background-color: var(--color-dark-grey);
}

.midle-group__send-post {
  align-items: center;
}

.footer__btn {
  padding: 19px 52px;
  border-radius: 16px;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: var(--main-color);
  color: var(--color-white);
  cursor: pointer;  
  transition: background-color 0.3s ease-in-out;
}

.footer__btn:focus {
  outline: none;
  background-color: var(--main-color-focus);
}

.footer__btn:hover {
  background-color: var(--main-color-hover);
}

.footer__btn:active {
  outline: none;
  background-color: var(--main-color-active);
}

/*! Check-box */

.check {
  align-items: center;
  padding-left: 42px;
  color: var(--color-grey);
}

.check__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check__box {
  position: absolute;
  margin-left: -19px;
  width: 14px;
  height: 14px;
  overflow: hidden;
  border-radius: 0.05em;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: var(--color-grey);
}

/* Checked */

.check__input:checked + .check__box {
  background-color: var(--color-grey);
  background-image: url("../img/check.svg");
}

/* Focused */

/* .check__input:focus + .check__box {
  box-shadow:
      0 0 0 0.1em #4A90E2,
      0 0 0 0.2em #7ED321;
} */

/* Disabled */

/* .check__input:disabled + .check__box {
  box-shadow: 0 0 0 0.1em #9B9B9B;
}

.check__input:checked:disabled + .check__box {
  background-color: #9B9B9B;
} */

.footer__descr {
  padding: 0;
  margin: 0;
  padding-top: 88px;
  /* padding-right: 45px; */
  padding-left: 48px;
  width: 410px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: var(--color-grey);
}

